body, input {
    background: black;
    color: white;
}

button {
    background: white;
    color: black;
}

#app {
    margin-left: 1%;
    margin-right: 1%;
}
#nav {
    left: 16%;
    right: 16%;
    background: white;
}
.ruutu {
    border-radius: 10px; 
    vertical-align: top; 
    margin-top: 10px; 
    padding: 5px; 
    display: inline-block;
    width: calc(100% - 20px);
}

#ruutu1 {
    background: darkred;
    border: 1px solid red;
}
#ruutu2 {
    background: darkblue;
    border: 1px solid blue;
}
#ruutu3 {
    background: darkgreen;
    border: 1px solid green;
}
#ruutu4 {
    background: purple;
    border: 1px solid #a6a;
}
#ruutu5 {
    background: #088;
    border: 1px solid #6aa;
}

input[type=checkbox] {
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    padding: 10px;
}

