<!doctype html>

<html lang="fi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Lupaus</title>
    <meta name="description" content="Lupaus">
    <meta name="author" content="Jori Ostrovskij">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/jquery-3.1.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/lockr.js"></script>
    <script src="js/vue-components.js"></script>
    <script src="js/script.js"></script>
</head>

<body>
    <div onclick="$('#loader').hide();" style="display: none; padding: 40px; font-size: 20px; height:80%; position: fixed; top: 10%; left: 10%; width: 80%; 
                                               background: linear-gradient(to top, #fefcea 0%,#efdd69 100%); 
                                               border: 3px solid #a00;" id="loader">
        Ladataan tietoja...
    </div>

    <div id="app">
        <ul id="navbar" class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#etusivu">Etusivu</a>
            </li>
            <li>
                <a data-toggle="tab" href="#sivu1">Peli</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="etusivu" class="tab-pane fade in active">
                <h1>Lupaus</h1>

                <h3>Pelaajat</h3>
                <div v-for="pelaaja in pelaajat">
                    <vue-pelaaja :pelaaja="pelaaja" :key="pelaaja.id"></vue-pelaaja>
                </div>

                <button class="btn btn-lg btn-success" @click="luoUusi" style="margin-top: 15px">Uusi</button>

                <hr>

                <div>
                    <input type="checkbox" v-model="options.showTotal" style="margin-right: 20px"> Näytä kokonaispisteet <br><br>
                    <input type="checkbox" v-model="options.showJaljessa" style="margin-right: 20px"> Näytä ero johtavaan <br>
                </div>
        
                    </div>

            <div id="sivu1" class="tab-pane">
                <div>
                    <button class="btn btn-danger btn-sm" @click="edellinen()">&lt;&lt;</button>
                    <button class="btn btn-success btn-lg" @click="seuraava()">&gt;&gt;</button>
                    <span style="font-size: 16px; margin-left: 50px;">Kierros: {{kierros}}</span>
                </div>

                <div v-for="rivi in rivit">
                    <vue-rivi :rivi="rivi" :kierros="kierros" :options="options" @rivi_tsek="laskePisteet()"></vue-rivi>
                </div>
            </div>
        </div>


    </div>
</body>

</html>