<!doctype html>

<html lang="fi">

<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Tarkkailuraportit</title>
    <meta name="description" content="Tarkkailuraportit">
    <meta name="author" content="Jori Ostrovskij">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/jquery-3.1.1.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/lockr.js"></script>
    <script src="js/vue-components.js"></script>
    <script src="js/script.js"></script>
</head>

<body>
    <div onclick="$('#loader').hide();" style="display: none; padding: 40px; font-size: 20px; height:80%; position: fixed; top: 10%; left: 10%; width: 80%; 
                                               background: linear-gradient(to top, #fefcea 0%,#efdd69 100%); 
                                               border: 3px solid #a00;" id="loader">
        Ladataan tietoja...
    </div>
    
    <div id="app">
        <ul id="navbar" class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#etusivu">Etusivu</a>  </li>
		</ul>

		<div class="tab-content">
			<div id="etusivu" class="tab-pane fade in active">
                <h1>Lupaus</h1>

                <h3>Pelaajat</h3>
                <div v-for="pelaaja in pelaajat">
                <vue-pelaaja :pelaaja="pelaaja"></vue-pelaaja>    
                </div>

                <p v-for="pelaaja in pelaajat">{{pelaaja.nimi}}</p> 

			</div>
        </div>        

    </div>
</body>

</html>